.wrapper {
	padding-top: 1em;
	display: flex;
	gap: 1em;
	flex-wrap: wrap;
}

.item {
	flex-basis: 0;
	flex-grow: 1;
	min-width: 18rem;
}

.item_in {
	min-height: 100%;
	display: flex;
}

.item_content {
	overflow-x: auto;
	display: grid;
	min-height: 100%;
}

.content,
.code {
	position: relative;
	z-index: 0;
	padding: 1em;
	text-align: left;
}

.code {
	padding-top: 2em;
	padding-bottom: 2em;
}

.content img {
	max-width: 100%;
}

.supportNote {
	width: 100%;
	text-align: left;
}
